{% extends "layout.html" %} {% block CSS %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
{% endblock %} {% block title %} Introducción {% endblock %} {% block main %}
<div class="container-1">
  <div class="container-2">
    <main>
      <div id="texto">
        <img class="fotoperfil" src="static/foto.jpg" alt="Foto de Perfil" />
        <div id="texto2">
          <h4 id="intro3"><font class="gradient">Buenas! Soy Jorge</font></h4>
          <p>
            Tengo 22 años y vivo en Galicia. Soy un apasionado de la informática
            en general, de la programación en particular y actualmente estoy
            estudiando (precisamente) Ingeniería Informática en la UNED.
          </p>
        </div>
      </div>
      <div id="intro2">
        <h3></h3>
        <p>
          Soy una persona entusiasta y dedicada a la tecnología, además me
          encanta aprender y explorar nuevos aspectos del mundo de la
          informática. Estoy buscando oportunidades constantemente para
          perfeccionar mis habilidades y llevar a cabo proyectos que me permitan
          mejorar.
        </p>
      </div>
    </main>
  </div>
</div>
{% endblock %}
