<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1, width = device-width" />

    <!--BootStrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!--CSS e Icono-->
    {% block CSS %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="Imagenes/favicon.ico" />

    <!--Letra-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--Script-->
    {% block Script%}{% endblock %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const currentPage = window.location.pathname;

        // Deshabilitar botón si ya está en la página correspondiente
        document.querySelectorAll(".esfera a").forEach((link) => {
          const href = new URL(link.href).pathname;
          if (href === currentPage) {
            link.addEventListener("click", function (event) {
              event.preventDefault();
              window.scrollTo({ top: 0, behavior: "smooth" });
            });
          }
        });
      });
    </script>

    <title>Mi Taberna: {% block title %}{% endblock %}</title>
  </head>
  <body class="{{ template_name | replace('.html', '') }}">
    {% block main %}{% endblock %}

    <footer class="container-es">
      <div class="esferas">
        <div class="esfera" id="esfera1">
          <a href="{{ url_for('index') }}"
            ><button type="button">Introducción</button></a
          >
          <img
            src="static/flch.png"
            class="flecha flecha-abajo"
            alt="Flecha Abajo"
          />
        </div>
        <div class="esfera" id="esfera2">
          <a href="{{ url_for('about') }}"
            ><button type="button">Sobre Mi</button></a
          >
          <img
            src="static/flch.png"
            class="flecha flecha-arriba"
            alt="Flecha Arriba"
          />
        </div>
        <div class="esfera" id="esfera3">
          <a href="{{ url_for('projects') }}"
            ><button type="button">Proyectos</button></a
          >

          <img
            src="static/flch.png"
            class="flecha flecha-abajo"
            alt="Flecha Abajo"
          />
        </div>
        <div class="esfera" id="esfera4">
          <a href="{{ url_for('hobbie') }}"
            ><button type="button">Hobbies</button></a
          >
          <img
            src="static/flch.png"
            class="flecha flecha-arriba"
            alt="Flecha Arriba"
          />
        </div>
        <div class="esfera" id="esfera5">
          <a href="{{ url_for('contact') }}"
            ><button type="button">Contacto</button></a
          >
        </div>
      </div>
    </footer>

    <p style="margin: 10px">&copy; 2024 JorMarPaz</p>
  </body>
</html>
