{% extends "layout.html" %} {% block CSS %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
{% endblock %} {% block title %} Proyectos {% endblock %} {% block main %}
<div class="container-1">
  <div class="container-2">
    <header></header>
    <main>
      <div>
        <hgroup id="intro">
          <h4>C</h4>
          <p>
            Uno de los primeros proyectos que desarrollé fue ,
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/39d5f33777a5b00132fc0776c0afe1dee65ddcfb/caesar.c">César</a>,
            un programa diseñado para encriptar y desencriptar mensajes
            utilizando el método empleado por el célebre personaje romano. Este
            programa recibe como argumentos la clave y la frase a encriptar.
          </p>
          <p>
            Otro proyecto sencillo que realicé fue
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/d7afb50b3d421fee96b4b100146c96f87924ff79/scrabble.c">Scrabble</a>,
            una simulación para dos jugadores del clásico juego de mesa
            homónimo.
          </p>
          <p>
            También desarrollé un sistema de
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/fce5025b8169bef75d6e8289c29d9d776e314e6e/inheritance.c">herencia
              de sangre</a>, donde, utilizando recursión, se realiza un seguimiento para
            predecir el tipo de sangre probable en la descendencia.
          </p>
          <p>
            Si se tiene una imagen pixelada y se desea recuperar la calidad,
            creé un programa para
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/64f312741b34371583fe1fe254d35fa10fb01d3e/recover.c">recuperarla</a>.
            Además, desarrollé un programa para aplicar filtros a las
            imágenes,
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/0dbf58d19f8e73be397000dcda7e70a0bd524021/helpers.c">Filtro</a>,
            donde se puede pasar la imagen y el filtro deseado como
            argumentos. En este proyecto, también adquirí conocimientos sobre
            gestión de memoria, incluyendo como asignarla y liberarla
            eficientemente.
          </p>
        </hgroup>
        <hgroup id="intro2">
          <h4>Python</h4>
          <p>
            La mayoria de programas que he desarrollado en Python son
            recreaciones de aquellos que inicialmente realicé en C, utilizados
            como práctica adicional. También he trabajado en otros proyectos que
            emplean HTML y el framework Flask.
          </p>
          <p>
            Por ejemplo, <a target="_blank"
              href="https://github.com/me50/Jormarpaz/tree/1dae203f9840cc5029cef5a5ea039c786f1f51dd">Finance</a> es
            un proyecto en el que, empleando Flask y HTML, diseñé una página de compra de stocks, un portfolio por así
            llamarlo.
          </p>
          <p>
            Un ejercicio que me resultó particularmente interesante fue
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/blob/9b5a9f77eff138b8f12fdf674107b15af27d6a5d/readability.py">Lectura</a>
            , el cual analiza un texto para determinar el nivel educativo del
            autor.
          </p>
        </hgroup>
        <hgroup id="intro">
          <h4>SQL</h4>
          <p>
            Los proyectos desarrollados en SQL consisten en realizar diversas
            consultas en diferentes bases de datos.
          </p>
          <p>
            Por ejemplo, en el proyecto
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/tree/a2ff92ed82def8c485beb65dd11a748e21146afb">Movies</a>, realizo
            múltiples consultas relacionadas con nombres, fechas,
            directores, años, estrellas y ratings en una base de datos de
            películas.
          </p>
          <p>
            Otro proyecto es
            <a target="_blank"
              href="https://github.com/me50/Jormarpaz/tree/a1e5ba4f52184164a3dee387bbeab1a4a76a5548">Songs</a>, donde
            trabajo con una base de datos que contiene el top 100 de
            canciones de Spotify en 2018. Aquí, realizo consultas basadas en
            nombres, artistas, años y características del estilo musical.
          </p>
          <p>
            Además, he realizado trabajos en SQL para la carrera, como los
            proyectos
            <a target="_blank"
              href="https://github.com/Jormarpaz/Automoviles/blob/main/BBDD_Automoviles.sql">Automóviles</a>
            y
            <a target="_blank"
              href="https://github.com/Jormarpaz/Reservas_Hoteles/blob/main/Reservas_Hoteles.sql">Hoteles</a>. En estos
            proyectos, además de llevar a cabo consultas, implementé
            funciones y vistas según los requerimientos específicos.
          </p>
        </hgroup>
        <hgroup id="intro2">
          <h4>Java</h4>
          <p>
            En este caso, este lenguaje ha sido el que más he utilizado a lo
            largo de la carrera, especialmente en Programación Orientada a
            Objetos (POO) y Estructuras de Programación. He desarrollado una
            aplicación para la gestión de un hospital y otra para una empresa de
            transportes, ambas con un enfoque orientado a objetos. Pero además,
            he creado un
            <a target="_blank"
              href="https://github.com/Jormarpaz/Reproductor/tree/079e4f53a831411320bf1aebf3f8f6e2bba38786/EPED/src/main/java/es/uned/lsi/eped">reproductor
              de música</a>, centrado en el uso de estructuras de datos como listas, colas,
            pilas y árboles, que, a mi parecer, es el proyecto más interesante
            de todos los que he llevado acabo en Java.
          </p>
        </hgroup>
      </div>
    </main>
  </div>
</div>
{% endblock %}
